/* CONTAINERS */
.result-container {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin-left: -5px;
  margin-right: -5px;
  border-bottom: 1px solid #eee;
}
.result-container:hover{
  background:#eee;
}
.title-timespent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.result-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ELEMENTS */
.result-title {
  font-size: 1.6rem;
  padding-bottom: 10px;
  align-self: center;
}
.result-text {
  font-size: 1.4rem;
  padding-bottom: 10px;
  opacity:.7
}
.result-url {
  color: #A15CFF;
}

.favicon{
  width:16px;
  height:16px;
  margin-right:5px;
  background-color:black;
  vertical-align: bottom;
  border-radius: 16px;
}
strong{
  font-weight: 900;
}
.timespent{
  opacity:.4
}