/* CONTAINERS */
.result-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.result-container:hover{
  background:#eee;
}
.title-timespent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ELEMENTS */
.result-title {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.result-text {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.result-url {
  color: #A15CFF;
}

.favicon{
  width:16px;
  height:16px;
  margin-right:5px;
  background-color:black;
  vertical-align: bottom;
  border-radius: 16px;
}