/* Responsive */
@media screen and (min-width: 1500px) {
  .header-loginsignup {
      padding-left: 15% !important;
      padding-right: 15% !important;
  }
}
@media screen and (min-width: 800px) {
  .header-loginsignup{
      padding-left: 11%;
      padding-right: 11%;
  }
}

/* Containers */
.logo-container-loginsignup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.header-loginsignup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid;
  border-bottom-color:rgb(235, 235, 235);
}
.nav-list-loginsignup {
  display: flex;
  flex-direction: row;
}
.hls-cont-navel {
  height: 60px;
  display: flex;
  align-items: center;
}
.hls-cont-navel:hover {
  border-bottom: 2px solid;
}

/* Elements */
.logo-loginsignup {
  font-size: 2.4rem;
  padding-right: 10px;
}
.nav-element-loginsignup {
  margin-left: 50px;
  font-size: 1.4rem;
  font-weight: 600;
}
.last {
  padding-right: 10px;
}
.button-header {
  border-style: none;
  text-decoration: none;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}