.to-top-btn-show {
  font-family: ;
  visibility: visible;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
.to-top-btn-not {
  visibility: hidden;
}