.userAvatar{
  width:32px;
  height:32px;
  border-radius: 25px;
}
.MuiList-root.MuiMenu-list a{
  text-decoration: none;
}
.MuiButton-text:hover {
  background-color: transparent !important;
}
.MuiMenuItem-gutters {
  color: black !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 12px !important;
}
.MuiMenuItem-gutters:hover {
  background-color: transparent !important;
}